$white: rgb(255, 255, 255);
$shadow: rgb(65, 65, 65);

$green: rgb(34, 124, 56);
$greenLight: rgb(169, 246, 181);
$red: rgb(163, 35, 35);
$redLight: rgb(238, 160, 160);

$primary: rgb(76, 115, 230);
$secondaray: rgb(164, 84, 233);

$displayLetterSize: 1.5em;
$keyboardLetterSize: 1.1em;
